{% extends 'schindler/base.html' %}

{% block title %} - Lifts{% endblock %}
{% block content %}
    <div>
        <input class="btn btn-dark" id="refresh-lifts" type="button" value="Refresh Lifts">
    </div>
    <div id="lifts"></div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#refresh-lifts").click(function (e) {
                $.ajax({
                    url: '{% url 'schindler-lifts-api' %}',
                    method: 'get',
                    success: function (data) {
                        console.log(data);
                        let lifts_html = $("#lifts");
                        lifts_html.empty();
                        lifts_html.html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
