{% extends 'schindler/base.html' %}

{% block title %} - Users{% endblock %}
{% block content %}
    <form method="post" id="form-submit">
        <input type="number" value="100" placeholder="100" id="number_request">
        <input type="submit" value="Generate Requests" id="submit">
    </form>
    <div id="users">
        <table class="table table-dark table-hover" id="simulation_table">
            <tr>
                <th>ID</th>
                <th>User Profile ID</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Delay</th>
            </tr>
            {% for request in simulation %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.user_profile.id }}</td>
                    <td>{{ request.source }}</td>
                    <td>{{ request.destination }}</td>
                    <td>{{ request.delay }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#form-submit').submit(function (e) {
                e.preventDefault();
                let number = $("#number_request").val();
                $.post("{% url 'schindler-simulation-generate' %}", {
                    'simulation': number
                }, function (simulation) {
                    for (let i = 0; i < simulation.length; i++) {
                        let request = simulation[i];
                        let id = request["id"];
                        let user_profile_id = request["user_profile_id"];
                        let source = request["source"];
                        let destination = request["destination"];
                        let delay = request["delay"];
                        $(`<tr><td>${id}</td><td>${user_profile_id}</td><td>${source}</td><td>${destination}</td><td>${delay}</td></tr>`).appendTo('#simulation_table')
                    }

                })
            });
        });
    </script>

{% endblock %}
